* {
  box-sizing: border-box;
}

html, body {
  background: #000000 !important;
}

:root {
  --size: 90;
  --ar: calc(194.8 / 596.69);
  --coeff: 1vmin;
  --width: calc(var(--size) * var(--coeff));
  --height: calc((var(--size) * var(--ar)) * var(--coeff));
  --bg: hsl(0, 0%, 0%);
  --color: hsl(0, 0%, 100%);
  --body: hsl(33, 74%, 74%);
  --nose: hsl(12, 71%, 74%);
  --cap: hsl(0, 0%, 20%);
  --cap-accent: hsl(58, 91%, 51%);
  --hair: hsl(32, 25%, 45%);
  --shirt-one: hsl(0, 0%, 29%);
  --shirt-two: hsl(0, 0%, 17%);
  --short-one: hsl(4, 80%, 39%);
  --short-two: hsl(4, 80%, 32%);
  --shoe: hsl(0, 0%, 5%);
  --sole: hsl(22, 21%, 52%);
  --logo: white;
  --cheek: hsla(4, 57%, 74%, 0.5);
  --pupil: hsl(0, 0%, 95%);
  --mouth: hsl(0, 0%, 10%);
}

.marionette-page {
  width: 100vw;
  font-family: sans-serif;
  overflow-x: hidden;
  background: var(--bg);
}

.cap {
  fill: var(--cap);
}

.cap__accent {
  fill: var(--cap-accent);
}

.marionette {
  height: 100%;
  width: 100%;
}

.marionette__shoe {
  fill: var(--shoe);
}

.marionette__sole {
  fill: var(--sole);
}

.marionette__shirt-one {
  fill: var(--shirt-one);
}

.marionette__shirt-two {
  fill: var(--shirt-two);
}

.marionette__short-one {
  fill: var(--short-one);
}

.marionette__short-two {
  fill: var(--short-two);
}

.marionette__cheek {
  fill: var(--cheek);
}

.marionette__mouth,
.marionette__eye circle:nth-of-type(1) {
  fill: var(--mouth);
}

.marionette__pupil {
  fill: var(--pupil);
}

.marionette__hair {
  fill: var(--hair);
}

.marionette__logo {
  stroke: var(--logo);
}

.marionette__body {
  fill: var(--body);
}

.marionette__container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 50% 50%;
}

.pollastre {
  height: 70vmin;
  width: auto;
  max-width: 90vw;
}

.marionette__nose {
  position: absolute;
  top: 22%;
  left: 38%;
  width: 0;
  height: 1.5vmin;
  background: #333;
  transform: rotate(-5deg);
  transform-origin: left center;
}

.marionette__nose:after,
.marionette__nose:before {
  content: '';
  position: absolute;
  height: 1.5vmin;
  width: 1.5vmin;
  border-radius: 50%;
  background: #333;
}

.marionette__nose:after {
  right: -0.75vmin;
  top: 0;
}

.marionette__nose:before {
  display: none;
}

h1.blurb {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color);
}

.story {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

.story__content {
  position: absolute;
  width: var(--width);
  left: 50%;
  transform: translate(-50%, var(--y));
}

.story__content--bottom {
  top: 50%;
  --y: calc(0% + (var(--height) / 2));
}

.story__content--top {
  bottom: 50%;
  --y: calc(0% - (var(--height) / 2));
}

.story__content--bottom .blurb {
  top: 0;
}

.story__content--top .blurb {
  bottom: 0;
}

.blurb {
  position: absolute;
  visibility: hidden;
}

.blurb--two .word,
.blurb--three .word,
.blurb--four .word {
  opacity: 0;
}

